@import "tailwindcss";

@theme {

  --color-primary: #a40001;
  --color-primary-dark: #ffffba;
  --color-primary-light: #ffb3ba;

  --color-secondary: #C6A15B;

  --color-background: #cb5382;
  --color-surface: #ecca00;

  --color-text-primary: #2D2D2D;
  --color-text-secondary: #666666;
  --color-text-light: #999999;

  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--color-background);
}

* {
  box-sizing: border-box;
}